.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
  overflow: hidden;
  position: relative;
  min-height: 0;
}

@media (max-width: 767px) {
  .main {
    overflow-y: auto;
  }
}
